Hello {{name}}
<p>
Thanks for your interest in the Finding Oakland’s Oaks project! Finding Oakland’s Oaks is a community-built mapping project sponsored by the Oakland Museum of California. We need the help of people like you to map the coast live oaks of the San Francisco Bay Area. Here’s how to participate:
</p><p>
1. Visit the <a href="http://oaktreemap.org/accounts/login/">Oak Tree Map</a> website and create an account. You’ll receive an email with a link to confirm your participation.
<br>
2. Once your account registration is complete, you can start adding the coast live oak trees around you to the map!
<br>
3. Just click the Add a Tree button on any page or go here [link:  http://oaktreemap.org/trees/add/]. Enter the address where a coast live oak is located (or the latitude and longitude) and the map will zoom to that spot.
<br>
4. Grab the little orange dot that represents your tree and move it until it’s on top of the tree in the aerial image.
<br>
5. If you know it, enter the trunk size of the tree and the diameter of its crown.
<br>
6. Tell us about any animals you’ve seen in the tree.
<br>
7. Click “Add this tree!” and your tree will appear on the map!
</p>
For more information about the project, visit the <a href="http://oaktreemap.org/about/">About page</a>  or exhibit in the Museum.
</p>
<p>
Thanks again for your interest in Finding Oakland’s Oaks. We look forward to seeing your trees appear!
</p>
