<html>
<head>
  <title>Oakland Tree Map</title>
  <style>
  #container {width:1017; margin:0 auto;}
  </style>

</head>
<body>
<div id="container">
   <img src="/static/images/oak_splash2.png" usemap="splashmap">

  <map name="splashmap">
    <area shape="rect" coords="220,460,580,540" alt="get_started" href="/map">
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-28968074-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
